@use 'menu';

.block-main{
  margin: 1px 0 0 12px;
  padding: 2px 0;
}
.code-block-content{

  padding: 10px;

  background-color: #F5F5F5;
}
.file-block-content{
  background-color: #F8E6E6;
}
.list-block-content{
  margin-left: 6px;
  border-left: solid 3px #F5F5F5;
  padding-top: 8px;
}

.page-block-content{

  display: flex;
  .img{

  }
  .content{
    border-bottom: 1px solid #E0E0E0;
    width: auto;
    color: #262626;
    font-weight: 500;
    font-family: initial;
    margin-left: 3px;
  }
}
.my-click{
  cursor: pointer;
  user-select:none;
}

.selection-box {
  position: absolute;
  border: 2px dashed blue;
  pointer-events: none; /* 不阻止鼠标事件 */
  display: none; /* 初始隐藏 */
}

.list-title{
  display: flex;
}

.editable:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.placeholder-div {
  position: relative;
  //min-height: 40px; /* 可以根据需要调整 */
  //padding: 5px;
  //border: 1px solid #ccc;
}

.placeholder-div:focus::before {
  content: "输入 / 选择";
  color: #999;
  position: absolute;
  left: 5px;
  top: 5px;
  pointer-events: none;
}

.placeholder-div:empty::before {
  display: block;
}

.placeholder-div:not(:empty)::before {
  display: none;
}

